.modal {
  display: none;
  &.is-active {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
  }
  &__overlay {
    position: absolute;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container, .account__container {
    width: 100%;
  }
  &__content {
    max-width: 1300px;
    width: 95%;
    // height: 80%;
    background-color: $color-light;
    border-radius: 5px;
    box-shadow: $shadow;
    padding: 1rem;
    @media screen and (min-width: 768px) {
      // height: 60%;
      display: flex;
      align-items: center;
      h2, .message {
        max-width: 60%;
        margin: 0 auto 2rem;
      }
    }
    @media screen and (min-width: 1024px) {
      // width: 40%;
    }
  }
  &__product {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &--image {
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
      @media screen and (min-width: 768px) {
        width: 45%;
      }
      img {
        max-width: 100%;
      }
    }
    &--info {
      @media screen and (min-width: 768px) {
        width: 45%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .modal__product--name {
        max-width: 100%;
        margin: 0 0 2rem;
      }
    }
    &--price {
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 1px;
      margin-bottom: 3rem;
      span {
        color: #777;
        font-weight: 600;
        font-size: 20px;
      }
    }
    .aditional__info {
      margin-bottom: 2rem;
    }
    .button {
      background: $color-primary;
      color: $color-light;
      border-radius: 3px;
      @media screen and (min-width: 768px) {
        max-width: 300px;
      }
    }
  }
}