<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="shortcut icon" href="../src/images/icon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <div class="header__container">
        <div class="header__logo">
          <a href="./index.html">
            <figure class="header__logo--figure">
              <img src="../src/images/logo-white.png" alt="logo">
            </figure>
          </a>
        </div>
        <!-- <nav class="header__nav">
          <ul class="header__nav--list">
            <li class="header__nav--item">
              <a href="" data-cart>
                <img src="../src/images/cart.svg">
              </a>
              <span class="pill-count">0</span>
              <nav class="nav__dropdown">
                <div class="nav__cart--content">

                </div>
              </nav>
            </li>
            <li class="header__nav--item"><a href=""><img src="../src/images/user.svg"></a></li>
          </ul>
        </nav> -->
        <!-- <div class="header__hamburguer">
          <span></span>
        </div> -->
      </div>
    </div>
  </header>

  <div class="main checkout">
    <div class="wrapper">
      <h1 class="checkout__title">Checkout</h1>
      <div class="checkout__content">
        <form action="./order-confirmation.html" id="form-checkout">
          <div class="checkout__form">
            <label for="">Name*</label>
            <input type="text" id="checkout-name" required>
          </div>
          <div class="checkout__form">
            <label for="">Email*</label>
            <input type="email" id="checkout-email" required>
          </div>
          <div class="checkout__form">
            <label for="">Address*</label>
            <input type="text" id="checkout-address" required>
          </div>
          <div class="checkout__form">
            <label for="">Delivery Address</label>
            <input type="text" id="checkout-delivery-address">
          </div>
          <div class="checkout__action">
            <button class="button">Finalize Purchase</button>
          </div>
        </form>
        <div class="checkout__summary">
          <h4>Summary of Purchase</h4>
          <div class="checkout__length"></div>
          <div class="checkout__products"></div>
          <div class="checkout__total">
            <span class="checkout__total--text">Total(USD)</span>
            <span class="checkout__total--price">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <section class="footer__section footer__section--about">
          <h3 class="footer__title">About Us</h3>
          <ul class="footer__list">
            <li class="footer__item"><a href="#">Home</a></li>
            <li class="footer__item"><a href="#">About Us</a></li>
            <li class="footer__item"><a href="#">History</a></li>
            <li class="footer__item"><a href="#">Contact</a></li>
          </ul>
        </section>
        <section class="footer__section footer__section--social-network">
          <h3 class="footer__title">Social Network</h3>
          <ul class="footer__list">
            <li class="footer__item"><a href=""><img src="../src/images/facebook.svg"/></a></li>
            <li class="footer__item"><a href=""><img src="../src/images/instagram.svg"/></a></li>
            <li class="footer__item"><a href=""><img src="../src/images/twitter.svg"/></a></li>
          </ul>
        </section>
        <section class="footer__section footer__section--location">
          <h3 class="footer__title">Location</h3>
          <div class="footer__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.5074133352036!2d-56.23340008416867!3d-34.868602579069695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1d568b3b50c4b%3A0x7b8817c275fd500a!2sCalle%20Dr.%20Mart%C3%ADn%20Berinduague%20824%2C%2011900%20Montevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1sen!2suy!4v1591974199581!5m2!1sen!2suy" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </section>
      </div>
    </div>
    <div class="footer__bottom">
      <span class="copyright">All rights reserved | Design and Realization Yoel Ribero 😎 2020</span>
    </div>
  </footer>
</body>
</html>