<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Houses</title>
  <link rel="shortcut icon" href="../src/images/icon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <div class="header__container">
        <div class="header__logo">
          <figure class="header__logo--figure">
            <img src="../src/images/logo-white.png" alt="logo">
          </figure>
        </div>
        <nav class="header__nav">
          <ul class="header__nav--list">
            <li class="header__nav--item">
              <a href="" data-cart>
                <img src="../src/images/cart.svg">
              </a>
              <span class="pill-count">0</span>
              <nav class="nav__dropdown">
                <div class="nav__cart--content">

                </div>
              </nav>
            </li>
            <li class="header__nav--item"><a href=""><img src="../src/images/user.svg"></a></li>
          </ul>
        </nav>
        <div class="header__hamburguer">
          <span></span>
        </div>
      </div>
    </div>
  </header>

  <div class="main">
    <div class="wrapper">
      <div class="breadcrumb">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/">Inicio</a></li>
          <li class="breadcrumb__item">Houses</li>
        </ul>
      </div>
      <section class="category__page">
        <aside class="category__page--navBar">
          <h3 class="category__page--title">Houses</h3>
          <div class="category__page--filter">
            <h4 class="filter__title">Other Categories</h4>
            <ul class="category__page--list">
              <li class="category__page--item">
                <a href="./technologies.html">Technologies</a>
              </li>
              <li class="category__page--item">
                <a href="./cars.html">Cars</a>
              </li>
            </ul>
          </div>
        </aside>
        <div class="category__page--content products__grid">

        </div>
      </section>
    </div>
  </div>

  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <section class="footer__section footer__section--about">
          <h3 class="footer__title">About Us</h3>
          <ul class="footer__list">
            <li class="footer__item"><a href="#">Home</a></li>
            <li class="footer__item"><a href="#">About Us</a></li>
            <li class="footer__item"><a href="#">History</a></li>
            <li class="footer__item"><a href="#">Contact</a></li>
          </ul>
        </section>
        <section class="footer__section footer__section--social-network">
          <h3 class="footer__title">Social Network</h3>
          <ul class="footer__list">
            <li class="footer__item"><a href=""><img src="../src/images/facebook.svg"/></a></li>
            <li class="footer__item"><a href=""><img src="../src/images/instagram.svg"/></a></li>
            <li class="footer__item"><a href=""><img src="../src/images/twitter.svg"/></a></li>
          </ul>
        </section>
        <section class="footer__section footer__section--location">
          <h3 class="footer__title">Location</h3>
          <div class="footer__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.5074133352036!2d-56.23340008416867!3d-34.868602579069695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1d568b3b50c4b%3A0x7b8817c275fd500a!2sCalle%20Dr.%20Mart%C3%ADn%20Berinduague%20824%2C%2011900%20Montevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1sen!2suy!4v1591974199581!5m2!1sen!2suy" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </section>
      </div>
    </div>
    <div class="footer__bottom">
      <span class="copyright">All rights reserved | Design and Realization Yoel Ribero 😎 2020</span>
    </div>
  </footer>
</body>
</html>