$color-primary: #48bb73;
$color-font: #333;
$color-light: #fff;
$color-danger: #d11a2a;
$color-border: #efefef;
$shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);

$font: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font;
  color: $color-font;
  font-size: 16px;
  background-color: #ebebeb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

.button {
  border: 0;
  padding: .5rem 1rem;
  text-align: center;
  background-color: $color-light;
  border-top: 1px solid $color-border;
  color: $color-primary;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $font-secondary;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &--danger {
    color: $color-danger;
  }
}

.pill-count {
  position: absolute;
  bottom: 0;
  left: 1.2rem;
  background-color: $color-danger;
  color: $color-light;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
  font-size: 14px;
}

@keyframes fadeRight {
  0% {
    transform: translateX(1000px);
  }
  50% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
